/*Overall layout*/
.playarea{
    display: flex;
    flex-direction: column;
}

/*Header*/
header{
    justify-items: center;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.options div button{
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: large;
}

.options div button:hover{
    background-color: #5d6d7e;
    color:aliceblue;
}

/*Game tiles section*/
.tiles{
    display: grid;
    margin: 20px 0;
    justify-content: center;
    grid-template-areas: 
    "one two three four five"
    "six seven eight nine ten"
    "eleven twelve thirteen fourteen fifteen"
    "sixteen seventeen eighteen nineteen twenty"
    "twentyone twentytwo twentythree twentyfour twentyfive"
    "twentysix twentyseven twentyeight twentynine thirty";
    grid-gap: 5px;
}

.tiles div{
    display: flex;
    border: solid black;
    height: 60px;
    width: 60px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.tiles div p{
    font-weight: bold;
    font-size: 28px;
}

/*Keyboard section*/
.keyboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.level1, .level2, .level3{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.level1 div, .level2 div, .level3 div{
    display: flex;
    border: solid black;
    height: 60px;
    width: 45px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.level1 div p, .level2 div p, .level3 div p{
    font-weight: bold;
    font-size: 20px;
}

#enter{
    font-size: 16px;
}